<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>Californiya House Price Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict')}}" method="post">
      <label for="MedInc">Median Income:</label>
      <input type="number" name="MedInc" step="any" placeholder="Enter median income" required><br>
  
      <label for="HouseAge">House Age:</label>
      <input type="number" name="HouseAge" step="any" placeholder="Enter house age" required><br>
  
      <label for="AveRooms">Average Rooms:</label>
      <input type="number" name="AveRooms" step="any" placeholder="Enter average number of rooms" required><br>
  
      <label for="AveBedrms">Average Bedrooms:</label>
      <input type="number" name="AveBedrms" step="any" placeholder="Enter average number of bedrooms" required><br>
  
      <label for="Population">Population:</label>
      <input type="number" name="Population" step="any" placeholder="Enter population" required><br>
  
      <label for="AveOccup">Average Occupancy:</label>
      <input type="number" name="AveOccup" step="any" placeholder="Enter average occupancy" required><br>
  
      <label for="Latitude">Latitude:</label>
      <input type="text" name="Latitude" placeholder="Enter latitude" required><br>
  
      <label for="Longitude">Longitude:</label>
      <input type="text" name="Longitude" placeholder="Enter longitude" required><br>
  
      <button type="submit">Predict</button>
  </form>
  
  

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>